{% include 'showtrack/includes/nav.html' %}
<div class="container">
    <div class="col-sm-12" style="margin-top: 30px">
    <form class="form-signin form-group" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <h2 class="form-signin-heading">Log in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>

        <div class="form-group row">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    </div>
</div>

{% include 'showtrack/includes/footer.html' %}