{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <div class="row">
        <!-- Show details -->
        <div class="container">
            <div class="card-body" style="width: 70%; float: right;">
                <h1 class="card-title">{{ cast.name }}</h1>
                <p class="card-title">{{ cast.role }}  /
                    <b>Born: </b> {{ cast.birthday }}</p>
                <p class="card-text">{{ cast.biography }}</p>
            </div>
            <img class="card-img-top" src="{% static cast.photo %}" alt="Card image cap" style="width: 25%;">
        </div>

        <!-- Known for -->
        <div class="container">
            <hr>
            <h1 class="title-border">Known for</h1>
            <div class="row" style="margin: 0.5rem;">
                {% for show in shows %}
                    <div class="card card-spacing">
                        <a href="{% url 'show' show.id %}">
                            <img class="card-img-top" src="{% static show.photo %}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'show' show.id %}" class="card-title show-title">
                                {{ show.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'showtrack/includes/footer.html' %}