{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <div class="row">
    <!-- Show details -->
    <div class="container">
        <div class="card-body" style="width: 70%; float: right;">
            <h1 class="card-title">{{ episode.name }}
                <span class="subtitle"> / <a href="{% url 'show' episode.show.id %}">{{ episode.show.name}}</a></span>
            </h1>
            <p class="card-text">
                <b>Episode: </b>{{ episode.season }}x{{ episode.number }} /
                <b>Duration: </b>{{ episode.show.duration }} min /
                <b>Aired: </b>{{ episode.aired }}
            </p>
            <p class="card-text">{{ episode.synopsis }}</p>
        </div>
        <img class="card-img-top" src="{% static episode.photo %}" alt="Card image cap" style="width: 25%;">
        <hr>
    </div>

</div>
</div>

{% include 'showtrack/includes/footer.html' %}