{% include 'showtrack/includes/nav.html' %}

<div class="jumbotron jumbotron-fluid main">
    <div class="bg"></div>
    <div class="container">
        <h1 class="display-3">Showtracker</h1>
    </div>
</div>


{% include 'showtrack/includes/footer.html' %}