{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <div class="row">
        <!-- Show details -->
        <div class="container">
            <div class="card-body" style="width: 70%; float: right;">
                <h1 class="card-title">{{ network.name }}</h1>
                <p class="card-title">
                    <b>Country: </b>{{ network.country }} |
                    <b>Founded: </b>{{ network.founded }} |
                    <b>Language: </b>{{ network.language }}</p>
                <p class="card-text">{{ network.website }}</p>
            </div>
            <img class="card-img-top" src="{% static network.photo %}" alt="Card image cap" style="width: 25%;">
        </div>

        <!-- Shows -->
        <div class="container">
            <hr>
            <h1 class="title-border">Shows</h1>
            {% if shows %}
            <div class="row" style="margin: 0.5rem;">
                {% for show in shows %}
                <div class="card card-spacing">
                    <a href="{% url 'show' show.id %}">
                        <img class="card-img-top" src="{% static show.photo %}" height="280px">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'show' show.id %}" class="card-title show-title">
                            {{ show.name }}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'showtrack/includes/footer.html' %}