{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <div class="row">
        <!-- Show details -->
        <div class="container">
            <div class="card-body" style="width: 70%; float: right;">
                <h1 class="card-title">{{ show.name }}
                    <span class="subtitle"> / <a href="{% url 'network' show.network.id %}">{{ show.network.name }}</a></span>
                </h1>
                <p class="card-title">
                    <b>Seasons:</b> {{ show.seasons }} /
                    <b>Genre: </b>{{ show.genre }} /
                    <b>Year: </b>{{ show.year }} /
                    <b>Finished: </b>{% if show.finished == True %} Yes {% else %} No {% endif %}
                </p>
                <p class="card-text">{{ show.synopsis }}</p>
            </div>
            <img class="card-img-top" src="{% static show.photo %}" alt="Card image cap" style="width: 25%;">
        </div>

        <!-- Episodes -->
        <div class="container">
            <hr>
            <h1 class="title-border">Episodes</h1>
            <div class="row" style="margin: 0.5rem;">
                {% for episode in episodes %}
                    <div class="card card-spacing" style="width: 25%; margin: 0.5rem 0.5rem;">
                        <a href="{% url 'episode' episode.id %}">
                            <img class="card-img-top" src="{% static episode.photo %}" height="200px">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'episode' episode.id %}" class="card-title show-title">
                                {{ episode.season}}x{{ episode.number }} - {{ episode.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Trailer -->
        <div class="container">
            <div style="width: 100%;">
                <hr>
                <h1 class="title-border">Trailer</h1>
                <div class="row">
                    <iframe width="720" height="480" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen
                            src="{{ show.trailer }}" style="margin-left: 15px;">
                    </iframe>
                </div>
            </div>
        </div>

        <!-- Cast -->
        <div class="container">
            <hr>
            <h1 class="title-border">Cast</h1>
            <div class="row" style="margin: 0.5rem;">
                {% for cast in cast %}
                    <div class="card card-spacing">
                        <a href="{% url 'cast' cast.id %}">
                            <img class="card-img-top" src="{% static cast.photo %}" height="280px">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'cast' cast.id %}" class="card-title show-title">
                                {{ cast.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'showtrack/includes/footer.html' %}