<aside style="float: right" class="blog-sidebar">
    <div class="sidebar-module">
        <h4>Go to</h4>
        <ol class="list-unstyled">
            {% if shows %}
                <li><a href="{% url 'casts' %}">Cast</a></li>
                <li><a href="{% url 'networks' %}">Network</a></li>
            {% endif %}
            {% if casts %}
                <li><a href="{% url 'shows' %}">Shows</a></li>
                <li><a href="{% url 'networks' %}">Network</a></li>
            {% endif %}
            {% if networks %}
                <li><a href="{% url 'shows' %}">Shows</a></li>
                <li><a href="{% url 'casts' %}">Cast</a></li>
            {% endif %}
        </ol>
    </div>
</aside>