<footer class="footer">
  <div class="container">
    <p style="text-align: center" class="text-muted">(c) 2018 Showtracker</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>