{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <form action="{% url 'add_cast' %}" method="get">
            <div class="form-row">

                <div class='form-group col-md-5'>
                    <select name="show" class="form-control" style='width: 350px;' size="10">
                        {% for show in shows %}
                        <option value="{{show.id}}">{{show.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Cast multiple select -->
                <div class='form-group col-md-5'>
                    <select name="cast" class="form-control" style='width: 350px;' multiple size="10">
                        {% for cast in cast %}
                        <option value="{{cast.id}}">{{cast.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Add Cast</button>
        </form>
    </div>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}