{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>

<body>
<header>
    <div class="blog-masthead">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">ShowTracker</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

            <!-- Overview -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'overview' %}">Overview</a>
                </li>
            </ul>

            <!-- Shows / Cast / Tv Network -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table_show' %}">Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table_episode' %}">Episodes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table_cast' %}">Cast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table_network' %}">Network</a>
                </li>
            </ul>

            <!-- Add Cast to Shows / Add Shows to Network -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_cast_show' %}'">Add Cast to Show</a>
                </li>
            </ul>
        </nav>