{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th># Users</th>
                <th># Shows</th>
                <th># Episodes</th>
                <th># Cast</th>
                <th># Network</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ users }}</td>
                <td>{{ shows }}</td>
                <td>{{ episodes }}</td>
                <td>{{ cast }}</td>
                <td>{{ network }}</td>
            </tr>
        </tbody>
    </table>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}