{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<a class="btn btn-info" href="{% url 'new_show' %}" style="margin-bottom: 10px;">Create Show</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Seasons</th>
                <th>Synopsys</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Duration</th>
                <th>Finished</th>
                <th>Network</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.name }}</td>
                <td>{{ show.seasons }}</td>
                <td>{{ show.synopsis }}</td>
                <td>{{ show.genre }}</td>
                <td>{{ show.year }}</td>
                <td>{{ show.duration }}</td>
                <td>{{ show.finished }}</td>
                <td>{{ show.network }}</td>
                <td><a class="btn btn-warning" href="{% url 'modify_show' show.id %}">Modify</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_show' show.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}