{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<a class="btn btn-info" href="{% url 'new_network' %}" style="margin-bottom: 10px;">Create Network</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Founded</th>
                <th>Website</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            {% for network in networks %}
            <tr>
                <td>{{ network.id }}</td>
                <td>{{ network.name }}</td>
                <td>{{ network.country }}</td>
                <td>{{ network.founded }}</td>
                <td>{{ network.website }}</td>
                <td>{{ network.language }}</td>
                <td><a class="btn btn-warning" href="{% url 'modify_network' network.id %}">Modify</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_network' network.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}