{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<a class="btn btn-info" href="{% url 'new_episode' %}" style="margin-bottom: 10px;">Create Episode</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Season</th>
                <th>Episode</th>
                <th>Synopsis</th>
                <th>Aired</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.name }}</td>
                <td>{{ episode.season }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>{{ episode.aired }}</td>
                <td>{{ episode.show }}</td>
                <td><a class="btn btn-warning" href="{% url 'modify_episode' episode.id %}">Modify</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_episode' episode.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}