{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<a class="btn btn-info" href="{% url 'new_cast' %}" style="margin-bottom: 10px;">Create Cast</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Biography</th>
                <th>Birthday</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for cast in cast %}
            <tr>
                <td>{{ cast.id }}</td>
                <td>{{ cast.name }}</td>
                <td>{{ cast.biography }}</td>
                <td>{{ cast.birthday }}</td>
                <td>{{ cast.role }}</td>
                <td><a class="btn btn-warning" href="{% url 'modify_cast' cast.id %}">Modify</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_cast' cast.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}