{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>New network</h1>
                {% if network.id is None %}
                    <form action="{% url 'create_network' %}" method="post" enctype="multipart/form-data">
                    {% else %}
                    <form action="{% url 'edit_network' network.id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" value="{{network.name}}" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="founded">Founded</label>
                            <input type="date" class="form-control" name="founded" placeholder="Founded"  value="{{network.founded | date:'Y-m-d' }}" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="website">Website</label>
                            <input type="text" class="form-control" name="website" placeholder="Website" value="{{network.website}}" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" name="country" placeholder="Country" value="{{network.country}}" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" name="language" placeholder="Language" value="{{network.language}}" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" name="photo" placeholder="Photo" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <input class="btn btn-info" type="submit" value="Create network" style="margin-top: 20px">
                        </div>
                    </div>
                </form>
            <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}