{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>New episodes</h1>
                {% if episode.id is None %}
                    <form action="{% url 'create_episode' %}" method="post" enctype="multipart/form-data">
                    {% else %}
                    <form action="{% url 'edit_episode' episode.id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" value="{{episode.name}}" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="season">Season</label>
                            <input type="number" class="form-control" name="season" placeholder="Season" value="{{episode.season}}" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="number">Episode</label>
                            <input type="number" class="form-control" name="number" placeholder="Episode" value="{{episode.number}}" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <label for="synopsis">Synopsis</label>
                            <textarea rows="5" class="form-control" name="synopsis" placeholder="Synopsis" required>
                                {{episode.synopsis}}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <label for="aired">Aired</label>
                            <input type="date" class="form-control" name="aired" placeholder="Aired" value="{{episode.aired | date:'Y-m-d' }}" required>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label for="show">Show</label>
                            {% if shows %}
                            <select name="show" class="form-control">
                                {% for show in shows %}
                                <option value="{{ show.id }}" {% if show.id == episode.show.id %} selected {% endif %}>
                                    {{ show.name }}
                                </option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" name="photo" placeholder="Photo" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <input class="btn btn-info" type="submit" value="Create episode" style="margin-top: 20px">
                        </div>
                    </div>
                </form>
            <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}