{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>New show</h1>
                {% if show.id is None %}
                    <form action="{% url 'create_show' %}" method="post" enctype="multipart/form-data">
                    {% else %}
                    <form action="{% url 'edit_show' show.id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" value="{{show.name}}" required>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="seasons">Seasons</label>
                            <input type="number" class="form-control" name="seasons" placeholder="Seasons" value="{{show.seasons}}" required>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="year">Year</label>
                            <input type="number" class="form-control" name="year" placeholder="Year" value="{{show.year}}" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <label for="synopsis">Synopsis</label>
                            <textarea rows="5" class="form-control" name="synopsis" placeholder="Synopsis" required>
                                {{show.synopsis}}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" name="genre" placeholder="Genre" value="{{show.genre}}" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="duration">Duration</label>
                            <input type="number" class="form-control" name="duration" placeholder="Duration" value="{{show.duration}}" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="finished">Finished</label>
                            <input type="checkbox" class="form-control" name="finished" {% ifequal show.finished True %} checked {% endifequal %}>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" name="photo" placeholder="Photo" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <label for="trailer">Trailer</label>
                            <input type="text" class="form-control" name="trailer" placeholder="Trailer" value="{{show.trailer}}" required>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label for="network">Network</label>
                            <select name="network" class="form-control">
                                {% for network in networks %}
                                <option value="{{ network.id }}" {% if network.id == show.network.id %} selected {% endif %}>
                                    {{ network.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <input class="btn btn-info" type="submit" value="Create show" style="margin-top: 20px">
                        </div>
                    </div>
                </form>
            <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}
