{% include 'showtrack/userpages/dashboard.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>New cast</h1>
                {% if cast.id is None %}
                    <form action="{% url 'create_cast' %}" method="post" enctype="multipart/form-data">
                    {% else %}
                    <form action="{% url 'edit_cast' cast.id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" value="{{cast.name}}" required>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="birthday">Birthday</label>
                            <input type="date" class="form-control" name="birthday" placeholder="Birthday" value="{{cast.birthday | date:'Y-m-d' }}" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <label for="biography">Biography</label>
                            <textarea rows="5" class="form-control" name="biography" placeholder="Biography" required>
                                {{cast.biography}}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="role">Role</label>
                            <select class="form-control" name="role">
                                <option value="Director" {% if cast.role == 'Director' %} selected {% endif %}>Director</option>
                                <option value="Actor" {% if cast.role == 'Actor' %} selected {% endif %}>Actor</option>
                                <option value="Actress" {% if cast.role == 'Actress' %} selected {% endif %}>Actress</option>
                                <option value="Writer" {% if cast.role == 'Writer' %} selected {% endif %}>Writer</option>
                            </select>
                        </div>
                        <div class="col-md-8 mb-8">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" name="photo" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <input class="btn btn-info" type="submit" value="Create cast" style="margin-top: 20px">
                        </div>
                    </div>
                </form>
            <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</div>

{% include 'showtrack/includes/footer.html' %}

