{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <form action="{% url 'casts' %}" method="get" class="form-inline mt-2 mb-4 mt-md-4">
        {% csrf_token %}
        <input class="form-control col-md-4 my-2 mr-3" name="search" type="text" placeholder="Search for Travis Fimmel, Sarah Gadon...">
        <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
    </form>
    {% if casts %}
    <div class="row">
        <div class="row col-md-10 col-sm-10">
            {% for cast in casts %}
            <div class="card" style="width: 12rem; margin: 0.5rem 0.5rem;">
                <a href="{% url 'cast' cast.id %}">
                    <img class="card-img-top" src="{% static cast.photo %}" height="275px;">
                </a>
                <div class="card-body">
                    <a href="{% url 'cast' cast.id %}" class="card-title" style="font-size: 20px; font-weight: bold; font-family: Helvetica;">
                        {{ cast.name }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row col-md-2 col-sm-2">
            {% include 'showtrack/includes/aside.html' %}
        </div>
    </div>
    {% else %}
        <p>No cast available</p>
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if casts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ casts.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% if casts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ casts.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <p>Showing  {{ casts.number }} of {{ casts.paginator.num_pages }}</p>
</div>

{% include 'showtrack/includes/footer.html' %}