{% include 'showtrack/includes/nav.html' %}
{% load static %}

<div class="container main">
    <form action="{% url 'shows' %}" method="get" class="form-inline mt-2 mb-4 mt-md-4">
        {% csrf_token %}
        <input class="form-control col-md-4 my-2 mr-3" name="search" type="text" placeholder="Search for Westworld, Vikings...">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if shows %}
    <div class="row">
        <div class="row col-md-10 col-sm-10">
            {% for show in shows %}
            <div class="card" style="width: 12rem; margin: 0.5rem 0.5rem;">
                <a href="{% url 'show' show.id %}">
                    <img class="card-img-top" src="{% static show.photo %}" height="280px">
                </a>
                <div class="card-body">
                    <a href="{% url 'show' show.id %}" class="card-title" style="font-size: 20px; font-weight: bold; font-family: Helvetica;">
                        {{ show.name }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row col-md-2 col-sm-2">
            {% include 'showtrack/includes/aside.html' %}
        </div>
    </div>
    {% else %}
        <p>No shows available</p>
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if shows.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ shows.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% if shows.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ shows.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <p>Showing  {{ shows.number }} of {{ shows.paginator.num_pages }}</p>
</div>

{% include 'showtrack/includes/footer.html' %}